---

---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-32 pb-14">
    <div class="text-left space-y-4">
      <div
        class="flex flex-col space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <h1 class="mv text-[var(--white)] text-fluid-heading font-medium text-balance text-center">
          Astro<span class="text-[var(--sec)]">.</span>Tim
        </h1>
      </div>

        <p class="text-md md:text-2xl text-[var(--white-icon)] text-center">
           Discover all the Astro projects that been coded by Tim Green. 
        </p>
    </div>
  </div>
</section>