---
interface Props {
  title: string;
}

const { title } = Astro.props;

import '@fontsource/tiktok-sans/300.css';
import '@fontsource/tiktok-sans/400.css';
import '@fontsource/tiktok-sans/500.css';
import '@fontsource/tiktok-sans/600.css';
import '@fontsource/tiktok-sans/700.css';
import '@fontsource/tiktok-sans/800.css';
import '@fontsource/tiktok-sans/900.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome to Astro Tim. This is where you find all the astro projects that I've built" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <meta property="og:title" content="Tim Green" />
    <meta property="og:description" content="Astro Tim Showcase" />
    <meta property="og:image" content="https://astro.timgreen.ws/og.image.png" />
    <meta property="og:url" content="https://astro.timgreen.ws" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Astro Tim" />
    <title>{title}</title>
  </head>
  <body class="bg-[--background] sm:px-28 lg:px-20 px-9">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Marvin Visions';
    src: url(/fonts/MarvinVisions-Variable.woff2) format('woff2'),
      url(/fonts/MarvinVisions-Variable.woff) format('woff'),
      url(/fonts/MarvinVisions-Variable.ttf) format('truetype');
  }

  :root {
    --background: #050505;
    --sec: rgb(35 191 134);
    --white: #f2f2f2;
    --white-icon: #f0f0f098;
    --green-icon: rgb(35 191 134);
    --white-icon-tr: #d4d4d410;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--white);
  }

  body{
    font-family: "Tiktok Sans", -apple-system,system-ui, sans-serif;
  }

  /* Marvin Vision Specific */
  .mv{
    font-family: "Marvin Visions";
  }

  /* Scrollbar  */
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }

  /* Fix for scrollbars in Firefox*/
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }
</style>
